<% layout("/layouts/boilerplate") %>

  <body>
    <h3>All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form> -->
    
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
      <%  for(let listing of allListings) {  %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
        <div class="card col">
          <img src="<%= listing.image ? listing.image.url : 'https://media.istockphoto.com/id/535168027/photo/india-goa-palolem-beach.jpg?s=612x612&w=0&k=20&c=iGV1Ue0Efj87dQirWnUpZVG1dNobUjfVvMGdKHTJ7Qg=' %>" class="card-img-top" alt="listing_image" style="height: 20rem" />
          
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
             <b> <%= listing.title %> <br/> </b> 
             &#8377; <%= listing.price %>/night
            </p>
          </div>
        </div>
      </a>
        <%  } %>
    </div>

    <ul>
      <% for(let listing of allListings) { %>
        <li><a href="/listings/<%= listing._id %>">
            <%= listing.title %>
          </a></li>
        <% } %>
    </ul>
  </body>

  </html>